// app global css in SCSS form
body {
  font-family: 'Montserrat', sans-serif;
}
.language-dropdown {
  margin: 6px 30px 0;
  padding: 17px 30px 16px 43px;
  border-radius: 50px;
  border: solid 2px rgba(189, 189, 189, 0.2);
}

.search {
  height: 56px;
  flex-grow: 0;
  margin: 6px 30px 0 0;
  padding: 16px 321px 16px 24px;
  border-radius: 50px;
  background-color: #fcfcfc;
}

.user-dropdown {
  height: 56px;
  padding: 0 9px 0 0;
  opacity: 0.2;
  border-radius: 10px;
  border: solid 1px #e0e0e0;
}

.dropdown-image {
  width: 56px;
  height: 56px;
  margin: 0 16px 0 0;
}

.notification {
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: #363232;
}

.notification .badge {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 15px;
  height: 15px;
  flex-grow: 0;
  margin: 0 0 47px 45px;
  border-radius: 6px;
  background-color: #e5a0ff;
}
.Test {
  width: 68px;
  height: 39px;
  margin: 0 96px 26px 12px;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.28px;
  text-align: left;
  color: #484a4f;
}
.icon-sidebar {
  width: 21px;
  height: 21px;
  color: #bdbdbd;
}
.dropdown-sidenav {
  flex-grow: 0;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #828282;
  padding: 0;
  border: none;
  background: none;
}
hr {
  width: 214px;
  height: 1px;
  flex-grow: 0;
  margin: 33px 0 24px;
  background-color: #dde7f1;
}
.flat-icon{
  display: none;
}
.sidenav-child{
  width: 91px;
  height: 17px;
  flex-grow: 0;
  margin: 3px 0 4px 16px;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #828282;
}
.chat-bar {
  border-radius: 11px 0 181px 90px;
  background-color: #f9f9f9;
}
.center-title {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.tabs-text {
  color: #828282;
  font-size: 16px;
  font-weight: bolder;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}
.sidebar-card {
  border-radius: 50px 0 0 0;
  width: 324px;
  height: 754px;
  background-color: #f9f9f9;
  box-shadow: none;
}
.card-badge {
  width: 35px;
  height: 35px;
  flex-grow: 0;
  padding: 7px 10.5px 6px 11px;
  border-radius: 10.8px;
  right: 0;
}
.card-date{
  width: 60px;
  height: 10px;
  margin: 14px 0 27px 83px;
  font-size: 8px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #bdbdbd;
}
.my-card {
  color: #bdbdbd;
  border-radius: 20px;
  box-shadow: none;

}
@media (max-width: 907px) {
  .flat-icon{
    display: inline;
  }
}
